/* ==========================
   PAGE 404
========================== */

.page-404__main {
    text-align: center;
}

/* Cercle rouge */
.page-404__circle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: 20%  auto;
    background-color: var(--Rougevif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* "404" */
.page-404__code {
    font-weight: 700;
    font-size: calc(var(--text_5xl) * 1px);
}

/* "Page introuvable" */
.page-404__text {
    font-weight: 600;
    font-size: calc(var(--text_2xl) * 1px);
}

/* Lien retour (optionnel) */
.page-404__link {
    display: inline-block;
    margin-top: var(--space-4xl);
    font-size: calc(var(--text_base) * 1px);
    text-decoration: underline;
}

/* ==========================
   page festival
========================== */
/* Contenu paragraphe */
.festival__content {
  line-height: 1.5;
  max-width: 34rem;
}

/* Espacement entre les paragraphes */
.festival__content p+p {
  margin-top: var(--space-3xl);
}

/* ======================================
   PAGE ARTISTE – Styles généraux
====================================== */

/* HERO ARTISTE (image + bouton retour) */
.artist-page__hero{
  position: relative;
  max-width: 480px;
  margin: 4.5rem auto 0;
  /* espace en haut pour laisser le header tranquille */
  background-color: var(--Noirbleunuit);
}

/* Bouton rond rouge avec flèche */
.artist-page__back-btn {
  position: absolute;
  top: var(--space-3xl);
  /* plus bas dans l’image */
  left: var(--space-4xl);

  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  padding: 0;

  background-color: var(--Rougevif);
  color: var(--blanc);
  font-size: calc(var(--text_lg) * 1px);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
  z-index: 5;
  /* au-dessus de la photo, mais pas besoin d’écraser le header */
}

.artist-page__hero-img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}