/* ==========================
   PAGE 404
========================== */

.page-404__main {
    text-align: center;
}

/* Cercle rouge */
.page-404__circle {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    margin: 20%  auto;
    background-color: var(--Rougevif);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* "404" */
.page-404__code {
    font-weight: 700;
    font-size: calc(var(--text_5xl) * 1px);
}

/* "Page introuvable" */
.page-404__text {
    font-weight: 600;
    font-size: calc(var(--text_2xl) * 1px);
}

/* Lien retour (optionnel) */
.page-404__link {
    display: inline-block;
    margin-top: var(--space-4xl);
    font-size: calc(var(--text_base) * 1px);
    text-decoration: underline;
}

/* ==========================
   page festival
========================== */
/* Contenu paragraphe */
.festival__content {
  line-height: 1.5;
  max-width: 34rem;
}

/* Espacement entre les paragraphes */
.festival__content p+p {
  margin-top: var(--space-3xl);
}

/* ==========================
   PAGE ARTISTE – fond général
========================== */

.artist-page {
  background-color: var(--Noirbleunuit);
  color: var(--blanc);
  font-family: var(--font-sans);
}

/* HERO IMAGE + BOUTON RETOUR */

.artist-hero {
  position: relative;
  max-width: 480px;
  margin-inline: auto;
  background-color: var(--Noirbleunuit);
}

.artist-hero__img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* bouton rond rouge avec flèche */
.artist-hero__back {
  position: absolute;
  top: var(--space-4xl);
  left: var(--space-4xl);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--Rougevif);
  color: var(--blanc);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}