/* Variables (couleurs, typos, espacements) */
:root{
    /* Couleurs */
        --Rouge: #7a1511;
        --Rougevif: #da261c;
        --Bleulectrique: #0c1e5b;
        --Noirbleunuit: #030624;
        --blanc: #ffffff;
    
    /* Tailles de texte */
        --text_sm: 14;
        --text_base: 16;
        --text_lg: 18;
        --text_xl: 20;
        --text_2xl: 24;
        --text_3xl: 30;
        --text_4xl: 36;
        --text_5xl: 48;

    /* Polices de caractA"re */
        --font-sans: "Inter", sans-serif;
        --font-main:"montserrat", sans-serif;

/* Espaces */
    --space-sm: 0.125rem;
    /* 2px */
    --space-base: 0.25rem;
    /* 4px */
    --space-md: 0.5rem;
    /* 8px */
    --space-lg: 0.75rem;
    /* 12px */
    --space-xl: 1rem;
    /* 16px */
    --space-2xl: 1.25rem;
    /* 20px */
    --space-3xl: 1.5rem;
    /* 24px */
    --space-4xl: 2rem;
    /* 32px */
    --space-5xl: 2.5rem;
    /* 40px */
    --space-6xl: 3.25rem;
    /* 52px */

}
