/* Footer */
.footer{
    display: flex;
    flex-direction: column;
}
.footer__top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-4xl);
    background-image:url('../../../assets/img/bg-footer.avif');
    background-color: linear-gradient(180deg, var(--Rouge, #7A1511) 0%, #1940C1 100%);
    background-size:cover;
    background-position:center;
    padding: var(--space-4xl);
}
.footer__legal{
    padding: var(--space-3xl); 
    background-color: var(--Bleulectrique);
    text-align: center;
}
.footer__social-list{
    display: flex;
    flex-direction: row;
    gap: var(--space-3xl);
    list-style: none;
    padding: var(--space-md);
}