/* Footer */
.footer{
    display: flex;
    flex-direction: column;
}
.footer__top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    background-image:url('../../../assets/img/bg-footer.avif');
    background-size:cover;
    background-position:center;
    padding: 10%;

}
.footer__legal{
    padding: 0.5rem 1rem; 
    background-color: var(--Rougevif);
    text-align: center;
}