.header {
    position: absolute;
    left: 0;
    width: 100%;
    padding: var(--space-2xl) var(--space-4xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    display: block;
    position: relative;
    z-index: 20;
}

.header__logo--light {
    filter: invert(1);
}