/* ==========================
   BOUTON ENVOYER
========================== */

.contact-form__submit {
    width: 100%;
    background-color: var(--Rougevif);
    color: var(--blanc);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;

    font-size: calc(var(--text_lg) * 1px);
    font-weight: 700;
    cursor: pointer;
}

.contact-form__submit:hover {
    opacity: 0.9;
}


/* ==========================
   BOUTON PDF PROGRAMME 
========================== */

.programme__cta {
    margin-top: var(--space-4xl);
    text-align: center;
}

.programme__btn {
    display: inline-block;
    background-color: var(--blanc);
    color: var(--Rougevif);
    border-radius: 0.25rem;
    padding: 0.6rem 1.8rem;
    font-size: calc(var(--text_sm) * 1px);
    font-weight: 600;
    text-decoration: none;
}

.programme__btn:hover,
.programme__btn:focus {
    opacity: 0.9;
}

/* ======================================
   ARTISTE CTA "Voir le programme complet"
====================================== */

.artist-page__cta {
    max-width: 30rem;
    margin-inline: auto;
    padding-inline: var(--space-4xl);
    padding-bottom: var(--space-5xl);
}

/* Bouton rouge en bas */
.artist-page__program-btn {
    display: block;
    width: 100%;
    text-align: center;

    padding: 0.9rem 1rem;
    border-radius: 0.25rem;
    border: none;

    background-color: var(--Rougevif);
    color: var(--blanc);
    font-size: calc(var(--text_sm) * 1px);
    font-weight: 600;
    text-decoration: none;
}

/* ==========================
   PAGE SCÈNE — BOUTON RETOUR
========================== */

.back-btn {
    position: relative;
    z-index: 1;
    margin-top: var(--space-8xl);
    margin-left: var(--space-4xl);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--Rougevif);
    color: var(--blanc);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--text_2xl) * 1px);
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.35);
}

.back-btn span[aria-hidden="true"] {
    transform: translateY(-1px);
}