/* ==========================
   BOUTON ENVOYER
========================== */

.contact-form__submit {
    width: 100%;
    background-color: var(--Rougevif);
    color: var(--blanc);
    border: none;
    border-radius: 8px;
    padding: 1rem;

    font-size: var(--text-lg);
    font-weight: 700;
    cursor: pointer;
}

.contact-form__submit:hover {
    opacity: 0.9;
}