/* ==========================
   GALERIE D’IMAGES
========================== */

.artist-gallery {
    max-width: 480px;
    margin-inline: auto;
    padding-inline: var(--space-4xl);
    padding-bottom: var(--space-4xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-4xl);
}

.artist-gallery__img {
    width: 100%;
    display: block;
    border-radius: 2px;
    object-fit: cover;
}