/* Entrée principale : importer les modules CSS */
@import "vendors/normalize.css";
@import "utils/variables.css";
@import "utils/helpers.css";
@import "base/main.css";
@import "base/media.css";
@import "layout/header.css";
@import "layout/footer.css";
@import "layout/section.css";
@import "layout/grid.css";
@import "components/button.css";
@import "components/card.css";
@import "components/carousel.css";
@import "components/faq.css";
@import "components/slogan.css";
@import "components/thumbnail.css";
@import "components/user.css";

/* Placeholders supplémentaires */
body{background:#fff}